body {
	font-family: 'Oswald', sans-serif;
}

a{

	color:#F08080;
}

h1 {font-family: 'Oswald', sans-serif;
color:#3F0D12;}

.row {
	margin-bottom:10px;
    margin-top:10px;
    margin-right: -15px;
    margin-left: -15px;
}


.navbar-default 
	{
    background-color: #3F0D12;
    border-color: #3F0D12;
	}

.navbar-default .navbar-brand {
    color: #E8EDDF;
	}

.navbar-default .navbar-nav>li>a 
	{
    color: #E8EDDF;
	}

.img-circle 

.img-responsive
